.hero-section {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    padding-left: 40%;
    padding-top: 10%;
    background-image: url('images/about-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 350px;
}


#about-content {
    position: relative;
    z-index: 2;
}
  
h1 {
    font-size: 60px;
    
}

/*
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.member {
    margin: 20px;
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.member h2 {
    margin-top: 10px;
}

.member p {
    font-size: 14px;
} */
