:root {
  --accent-color: #0c869c;
  --gray: #d3d3d3;
  --dark-gray: #a9a9a9;
  --darkest-gray: #808080;
  --black: #36454f;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.rufina {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.tint-fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}


.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  height: 100%;
  color: var(--black);
}

main {
  min-height: 100%;
  margin-bottom: -60px;
}
main:after {
  content: "";
  display: block;
  height: 60px;
}

nav {
  font-size: 20px;
  background-color: var(--accent-color);
  padding: 1rem 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

#end-nav {
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: white;
}

#middle-nav {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

footer {
  background: #0c869c;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
