main {
    margin: 4rem 6rem;
}

.categories {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.categories a {
    text-decoration: none;
    color: var(--black);
    margin: 0 15px;
    font-size: 20px;
    letter-spacing: 2px;
}

.categories a:hover {
    color: #3498db;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid var(--black);
    margin-bottom: 12px;
}

.search-box input[type="text"] {
    flex-grow: 1;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: var(--black);
    margin-bottom: 5px;
}

.search-box input[type="submit"] {
    background: url('images/search-icon.png') no-repeat center center;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    background-size: 15px 15px;
    width: 20px;
    outline: none;
    background-color: transparent;
    margin-bottom: 7px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2000px));
    gap: 20px;
    padding: 20px;
}

.recipe-card img {
    height: 400px;
}

/*


.recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


@media (max-width: 600px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
} */