body {
    background-color: var(--accent-color);
}

main {
    color: white;
    margin: 4rem 7rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content h1 {
    word-spacing: 3px;
    letter-spacing: 1.4px;
    margin: 0;
    font-size: 80px;
    width: 45%;
    line-height: 100px;
}

.gallery {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#steak {
    margin-top: 50px;
    height: 700px;
}

#chowder {
    height: 450px;
}

#seasoning {
    height: 600px;
}