@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

main {
  background-color: #ebf0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  line-height: 1;
}
#sign-in-text h1 {
  margin-top: 0;
  padding-top: 5%;
}

#create-account-text {
  text-align: center;
}
#sign-in-text {
  text-align: center;
  margin-bottom: 2.5%;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  display: flex;
  width: 60%;
  margin-bottom: 10px;
  color: black;
  background-color: #ebf0e4;
  border: 1px solid #004c77;
  padding: 10px;
}
input#submit {
  display: block;
  color: white;
  background-color: #004c77;
  padding-left: 0%;
  padding-right: 0;
  width: 60%;
}

hr {
  width: 60%;
}
.centered-line {
  width: 60%;
  border-bottom: 1px solid #000; /* Adjust the color as needed */
}
#create-account {
  text-align: center;
  margin-left: 0;
  width: 60%;
}
#sign-in-text h3 {
  margin-bottom: 0;
}
#sign-in-text h4 {
  margin-top: 0;
}
#create {
  display: block;
  color: white;
  background-color: #004c77;
  padding-left: 0%;
  padding-right: 0;
  width: 60%;
  text-align: center;
}

input::placeholder {
  font-family: "Lato", sans-serif;
}

input[type="submit"] {
  font-family: "Rufina", sans-serif;
  padding: 10px 20px;
  background: #333;
  color: #fff;
}
