@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

body {
  line-height: 1;
}
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 2rem;
  font-size: 50px;
}
h3 {
  margin-bottom: 1rem;
}
h3, h4{
  font-size: 20px;
}
#create-text {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 2.5rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
}
input {
  display: flex;
  width: 60%;
  margin-bottom: 1rem;
  color: black;
  background-color: white;
  border: 1px solid #004c77;
  padding: 10px;
}
input#submit {
  display: block;
  color: white;
  background-color: #004c77;
  padding-left: 0%;
  padding-right: 0;
  width: 15rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

#confirmPassword {
  margin-bottom: 20px;
}

input::placeholder {
  font-family: "Lato", sans-serif;
}

input[type="submit"] {
  font-family: "Rufina", sans-serif;
  padding: 10px 20px;
  background: #333;
  color: #fff;
}
