#about-header {
  width: 100%;
  background-image: url("../images/about-background.png");
  height: 300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

nav {
  background-color: transparent;
}

.hero-section {
  padding-left: 50%;
}

#about-content,
nav {
  position: relative;
  z-index: 2;
}

#about-content h1 {
  font-size: 60px;
  margin: 0;
}

#about-content h4 {
  margin: 0;
}

.team {
  margin: 50px 10%;
  margin-bottom: 10rem;
}

.member1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.member2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member1 {
  margin: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 3rem;
}

.member2 {
  margin: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 3rem;
}

.member1 img,
.member2 img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.member1 h2,
.member2 h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.member1 p,
.member2 p {
  color: var(--darkest-gray);
  font-size: 14px;
  width: 180px;
}

.member1 p {
  text-align: end;
}

.member2 p {
  margin-top: 6rem;
}

@media screen and (max-width: 770px) {
  .hero-section {
    padding-left: 0;
    text-align: center;
  }
}
